@import url("http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"); // meyerweb.com/eric/tools/css/reset
@import url("http://fonts.googleapis.com/css?family=Muli:300,400"); // google.com/fonts/specimen/Muli

/*
**	SVG Mask Experiment 
**	Copyright 2014 © James Bosworth
**	https://github.com/bosworthco/SVG-Mask-Experiment
**
**	styles.less
*/

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body,
html,
.experiment {
	width: 100%;
	height: 100%;
	font-family: "Muli", Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.detect {
	position: absolute;
	width: 300px;
	top: 10%;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	padding: 30px 40px;
	box-sizing: border-box;
	-webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,.25), inset 0 1px 0 rgba(255,255,255,.25);
	-moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,.25), inset 0 1px 0 rgba(255,255,255,.25);
	box-shadow: 0 1px 2px 1px rgba(0,0,0,.25), inset 0 1px 0 rgba(255,255,255,.25);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: rgba(255,255,255,.65);
	z-index: 3;
}

.detect__title {
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-size: 26px;
	border-bottom: 1px solid rgba(0,0,0,.25);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.25);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.25);
	box-shadow: 0 1px 0 rgba(255,255,255,.25);
}

.detect__content {
	text-align: left;
	line-height: 1.45;
	margin-bottom: 20px;
	.d-masks,
	.d-gradient,
	.d-or {
		display: none;
	}
	span {
		font-weight: 400;
	}
	&:last-child {
		margin: 0;
	}
}

.detect__link {
	color: #000;
	font-weight: 400;
	cursor: pointer;
}

.experiment {
	background-attachment: fixed;
	mask-position: 50% 50%;
	-webkit-mask-position: 50% 50%;
}

#js-parallax {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.svg_elem {
	position: absolute;
	top: 0;
	left: 0;
	background-attachment: fixed;
	mask-position: 50% 50%;
	-webkit-mask-position: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.svg_elem[data-position="parallax"] {
	z-index: 2;
	mask-size: 50px;
	-webkit-mask-size: 50px;
}

.svg_elem[data-position="static"] {
	z-index: 1;
	mask-size: 49px;
	-webkit-mask-size: 49px;
}